







<div  class ="container" style="margin-top: 125px" >
<br>  
     <div  class="container main row">

    <div  class="  col-6">
   
 
     

      <ng-container *ngIf="this.cardService.oculta else siguienteForm" >    
              <form  #Form="ngForm" (ngSubmit) ="agregarCard(Form)">


              <div class="form-group">
                  
               <label for="Tipo de Publicación"></label>
                <select id = 'tipo' style="margin-top: 48px; max-width: 250px;float:right "type="text" class="form-control" name="tipo" #tipo="ngModel" [(ngModel)]="cardService.cardSeleccionada.tipo" placeholder="Tipo de publicación">
                  <option value="notas">Nota Larga</option>
                  <option value="notacorta">Nota Corta</option>
                  <option value="eventos">Eventos</option>
                  <option value="ventas">Ventas / Ofertas</option>
                  
                </select>



          
                  
                  <label for="Categorias"></label>
                  <select id = 'categoria' style="margin-top: 25px; max-width: 250px"  type="text" class="form-control" name="palabrasClaves" #palabrasClaves="ngModel" [(ngModel)]="cardService.cardSeleccionada.palabrasClaves"placeholder="Categorias">
                    <option value="#Cultura  ">#Cultura</option>
                    <option value="#Cultura  ">#Cultura #Eventos </option>
                    <option value="#Cultura  ">#Cultura #Talleres </option>
                    <option value="#Cultura #Recitales ">#Cultura #Recitales </option>
                 
                    <option value="#Institucional  ">#Institucional</option>
                    <option value="#Comercial  ">#Comercial</option>
                    <option value="#Turismo  ">#Turismo</option>
                    
                  </select>


                  <small class="form-text text-muted">Palabras Claves.</small>

                  <input style="margin-top: 25px; "type="text" class="form-control" name="pill" #pill="ngModel" [(ngModel)]="cardService.cardSeleccionada.pill"placeholder="Categoria destacada" required >
                  <small class="form-text text-muted">Categoria.</small>


                  <input style="margin-top: 25px;" type="text" maxlength="57" class="form-control"name="titulo" #titulo="ngModel" [(ngModel)]="cardService.cardSeleccionada.titulo" placeholder="Titulo" >
                  <small class="form-text text-muted">Titulo</small>





                  <input style="margin-top: 25px;" type="text"  class="form-control"name="imagen" #imagen="ngModel" [(ngModel)]="cardService.cardSeleccionada.imagen" placeholder="Url Imagen" >
                  <input style="margin-top: 25px;" type="text"  class="form-control"name="imagendsc" #imagen="ngModel" [(ngModel)]="cardService.cardSeleccionada.imagendsc" placeholder="descripcion" >
                  <input style="margin-top: 25px;" type="text"  class="form-control"name="imagen2" #imagen="ngModel" [(ngModel)]="cardService.cardSeleccionada.imagen2" placeholder="Url Imagen" >
                  <input style="margin-top: 25px;" type="text"  class="form-control"name="imagendsc2" #imagen="ngModel" [(ngModel)]="cardService.cardSeleccionada.imagendsc2" placeholder="descripcion" >
                  <input style="margin-top: 25px;" type="text"  class="form-control"name="imagen3" #imagen="ngModel" [(ngModel)]="cardService.cardSeleccionada.imagen3" placeholder="Url Imagen" >
                  <input style="margin-top: 25px;" type="text"  class="form-control"name="imagendsc3" #imagen="ngModel" [(ngModel)]="cardService.cardSeleccionada.imagendsc3" placeholder="descripcion" >
                  <input style="margin-top: 25px;" type="text"  class="form-control"name="imagen4" #imagen="ngModel" [(ngModel)]="cardService.cardSeleccionada.imagen4" placeholder="Url Imagen" >
                  <input style="margin-top: 25px;" type="text"  class="form-control"name="imagendsc4" #imagen="ngModel" [(ngModel)]="cardService.cardSeleccionada.imagendsc4" placeholder="descripcion" >
                  <input style="margin-top: 25px;" type="text"  class="form-control"name="imagen5" #imagen="ngModel" [(ngModel)]="cardService.cardSeleccionada.imagen5" placeholder="Url Imagen" >
                  <input style="margin-top: 25px;" type="text"  class="form-control"name="imagendsc5" #imagen="ngModel" [(ngModel)]="cardService.cardSeleccionada.imagendsc5" placeholder="descripcion" >
                  <input style="margin-top: 25px;" type="text"  class="form-control"name="imagen6" #imagen="ngModel" [(ngModel)]="cardService.cardSeleccionada.imagen6" placeholder="Url Imagen" >
                  <input style="margin-top: 25px;" type="text"  class="form-control"name="imagendsc6" #imagen="ngModel" [(ngModel)]="cardService.cardSeleccionada.imagendsc6" placeholder="descripcion" >
        
        
        
        
                  <textarea rows="2"  style="margin-top: 25px;"class="form-control" aria-label="With textarea" name="description" #description="ngModel" #description="ngModel" [(ngModel)]="cardService.cardSeleccionada.description" placeholder="Descripcion"></textarea>
                  <small class="form-text text-muted">1er Parrafo.</small>
          

                  <textarea rows="2"  style="margin-top: 25px;"class="form-control" aria-label="With textarea" name="description2" #description="ngModel" #description="ngModel" [(ngModel)]="cardService.cardSeleccionada.description2" placeholder="Descripcion"></textarea>
                  <small class="form-text text-muted">2do Parrafo.</small>
          
                  
                  <textarea rows="2"  style="margin-top: 25px;"class="form-control" aria-label="With textarea" name="description3" #description="ngModel" #description="ngModel" [(ngModel)]="cardService.cardSeleccionada.description3" placeholder="Descripcion"></textarea>
                  <small class="form-text text-muted">3er Parrafo</small>
          
                  
                  <textarea rows="2"  style="margin-top: 25px;"class="form-control" aria-label="With textarea" name="description4" #description="ngModel" #description="ngModel" [(ngModel)]="cardService.cardSeleccionada.description4" placeholder="Descripcion"></textarea>
                  <small class="form-text text-muted">4to Parrafo.</small>
          
                  
                  <textarea rows="2"  style="margin-top: 25px;"class="form-control" aria-label="With textarea" name="description5" #description="ngModel" #description="ngModel" [(ngModel)]="cardService.cardSeleccionada.description5" placeholder="Descripcion"></textarea>
                  <small class="form-text text-muted">4to Parrafo.</small>
                  
                  <textarea rows="2"  style="margin-top: 25px;"class="form-control" aria-label="With textarea" name="description6" #description="ngModel" #description="ngModel" [(ngModel)]="cardService.cardSeleccionada.description6" placeholder="Descripcion"></textarea>
                  <small class="form-text text-muted">4to Parrafo.</small>
        
                </div>
               
          
          
          <div style="margin-top:13%">
           <button class="btn btn-dark" (click)=resetForm(Form)>Limpiar</button>
           <button style="margin-left:15px" class="btn btn-dark">Guardar</button>
           <button style="margin-left:15px" class="btn btn-dark" (click)=borrar()>Borrar</button>
           
          </div>

        



    </form>  
    
</ng-container>

  </div>   
 

  <div  class=" tarjeta container col-3" style="border-left:1px solid rgb(0, 0, 0) ">
   
      <h3>{{cardService.cardSeleccionada.palabrasClaves}}</h3> 
      <h1>{{cardService.cardSeleccionada.titulo}}</h1>
      <hr>
      <img  src={{cardService.cardSeleccionada.imagen}} alt=""  width="250px" height="230px" style="float: left;margin-right: 20px; margin-bottom: 10px">
      <h2 class ="texto" >{{cardService.cardSeleccionada.description}}</h2>
      
      
      
      <div  class=" tarjeta container col-12" >

    


      </div>
  

  </div>

  


</div>


<ng-template #siguienteForm>
  <form  #Form="ngForm" (ngSubmit) ="agregarCard(Form)">


    <div class="form-group">
        
     <label for="Tipo de Publicación"></label>
      <select id = 'tipo' style="margin-top: 48px; max-width: 250px;float:right "type="text" class="form-control" name="tipo" #tipo="ngModel" [(ngModel)]="cardService.cardSeleccionada.tipo" placeholder="Tipo de publicación">
        <option value="notas">Nota Larga</option>
        <option value="notacorta">Nota Corta</option>
        <option value="eventos">Eventos</option>
        <option value="ventas">Ventas / Ofertas</option>
        
      </select>




        
        <label for="Categorias"></label>
        <select id = 'categoria' style="margin-top: 25px; max-width: 250px"  type="text" class="form-control" name="palabrasClaves" #palabrasClaves="ngModel" [(ngModel)]="cardService.cardSeleccionada.palabrasClaves"placeholder="Categorias">
          <option value="#Cultura  ">#Cultura</option>
          <option value="#Cultura  ">#Cultura #Eventos </option>
          <option value="#Cultura  ">#Cultura #Talleres </option>
          <option value="#Cultura #Recitales ">#Cultura #Recitales </option>
       
          <option value="#Institucional  ">#Institucional</option>
          <option value="#Comercial  ">#Comercial</option>
          <option value="#Turismo  ">#Turismo</option>
          
        </select>


        <small class="form-text text-muted">Ingresa las palabras claves o Hashtag.</small>


        <div style="margin-top:13%">
          <button class="btn btn-dark" (click)=resetForm(Form)>Limpiar</button>
          <button style="margin-left:15px" class="btn btn-dark">Guardar</button>
          <button style="margin-left:15px" class="btn btn-dark" (click)=borrar()>Borrar</button>
           <button  style="margin-left:15px" class="btn btn-dark" >Continuar</button>
         </div>

       


      </div>
     







</form>  
  </ng-template>
  